/*
 * cpBootcamp: Pomodoro Timer
 * Robin Littlefield 
 *
 * styles.css:
 * v1.0 2/25/21
 * v2.0 2/28/21
 */
 
:root {
    --orange: #F87070;
    --green: #70F3F8;
    --perpule: #D881F8;
    --light-blue: #D7E0FF;
    --dark-blue: #1E213F;
    --darker-blue:#161932;
    --white: #FFFFFF;
    --beige: #EFF1FA;
    --appBackgroundColor: var(--dark-blue);
    --appTitle: var(--light-blue);
    --navBackgroundColor: var(--darker-blue);
    --navSelectedBackgroundColor: var(--orange);
    --navSelectedTextColor: var(--dark-blue);
    --navTextColor: var(--light-blue);
    --ringColor: var(--orange); 
    /*
    --innerCircleColor: var(--darker-blue);
    */
    --innerCircleColor: var(--green);

    --formBackgroundColor: var(--white);
    --fontKumbh: "Kumbh Sans", sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fontKumbh);
    color: var(--light-blue);
}
body {
    background-color: var(--appBackgroundColor);
}
h1 {        /* these are also in body1, body2 below */
    font-weight: bold;
    font-size: 100px;
    letter-spacing: -5px;
    line-height: 120px;
}
h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    margin-top: 50px;
    margin-bottom: 50px;
}
h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 15px;
    text-transform: uppercase;
}
h4 {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

nav {
    border-radius: 50px;
    padding-left: 10px;
    width: 373px;
    height: 63px;
    z-index: 10;
    background-color: var(--navBackgroundColor);
}
nav > ul {
    position: relative;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
nav > ul > li {
    opacity: 0.4;
    transition: opacity 10ms ease-out;
}
form {
    pointer-events: auto;
    margin: auto;
    border-radius: 25px;
    width: 550px;
    height: 464px;
    background-color: var(--formBackgroundColor);
}
hr {
    opacity: 0.4;
}
/* -----------  SECTIONS ----------------*/
#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#bgindicator {      /* highlight box over nav selection */
    border-radius: 50px;
    height: 48px;
    width: calc(95% / 3); /* not 100% so it doesn't stick to right */
    margin-top: -55px;
    background-color: var(--navSelectedBackgroundColor);
    transition: margin-left 300ms ease-out;
}
#timer {
    margin-top: 45px; 
    margin-bottom: 63px; 
    height: 63px;
}
#outercircle {
    position: relative; /* ADDED .. */
    margin-top: 45px;
    display: flex;
    height: 410px;
    width: 410px;
    border-radius: 50%;
    background: linear-gradient(315deg,#2E325A 0%, #0E112A 100%);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
}
#innercircle {
    display: flex;
    margin: auto;
    height: 366px;
    width: 366px;
    border-radius: 50%;
    background-color: var(--innerCircleColor);
}
#ring {
    margin: auto;
    width: 339px;
    height: 339px;
}
#ring > circle { /* the child */
    fill: transparent;
    stroke: var(--ringColor);
    stroke-width: 10;
    stroke-dasharray: 1024, 1024;
    stroke-dashoffset: 1024; /* change from 0 to 1024 */
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 0.2s ease-out; /* ADDED in class */
}
#textcontainer {    /* stuff in the middle */
    position: absolute;
    height: 410px;
    width: 410px;
}

#time {
    text-align: center;
    margin-top: 160px;
}

#action {
    text-align: center;
}
/*LEM wrote  #settings is margin-top: 100px XXX why?*/
#settings {  /* settings gear icon */
       margin-top: 400px;
}

#settingscontainer {
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100vw;
    transition: ease-in 0.2s, linear .5s
}
#formrouter {
    position: absolute;
    z-index: 110;
    display: flex;
    width: 100%;
    height: 100vh;
}
#settingsheader {
    display: flex;
    justify-content: space-between;
    padding: 34px 40px;
}
#settingsheader > h2 {
    margin: 0;
    color: var(--darker-blue);
}
#settingsheader > button { /* close button, XX move to a class?? */
    border: none;
    outline: none;
    background-color: var(--formBackgroundColor);
}

#settingstime {
    margin: 0 20px 0 40px;
}
#settingstime > h4 {
    display: flex;
    padding: 25px 0; 
    color: var(--darker-blue);
}
#settingsNavBoxes {
    margin: 0 20px 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

#settingsApplyButton {
   /* XX add - ALIGN TO BOTTOM of FORM, and move a bit up */
    margin-top: 150px;
    display: flex;
    justify-content: center;
    z-index: 200;
}
#settingsApplyButton > button {
    color: var(--white);
    background-color: var(--orange);
}

/* ---- Utility classes ------*/
.center {
    margin-left: auto;
    margin-right: auto;
}
.body1 {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}
.body2 {
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
.active {
    color: var(--navBackgroundColor);
    opacity: 1;
}
.pointer {
    user-select: none;
    cursor: pointer;
}
.input {
    display: flex;
    flex-direction: column;
    width: 140px;
    margin-right: 20px; /* to add padding in the future */
}
.input > label {
    color: var(--darker-blue);
    padding-bottom: 10px;
    opacity: 40%; 
}
.input input {  /* number in the box ... */
    height: 48px;
    width: 80px;
    background-color: var(--beige);
    border: none; /* because it comes with the default */
    outline: none;
    color: var(--darker-blue);
}

.input input::-webkit-inner-spin-button,
.input input::-webkit-outer-spin-button {
    -webkit-appearance:none;
    margin: 0;
}
.inputnumber { /* box w/ number & arrows */
    display: flex;
    background-color: var(--beige);
    justify-content: space-between; 
    padding: 0 15px; /* XX rl added where should it be? */
    border-radius: 10px;
    align-items: center;
}
.inputbuttons {
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
}
.inputbuttons button { /* modify button itself */
      /* in the design, when you hover they turn dk blue */
    background-color: var(--beige);
    border: none;
    outline: none;
    }
.inputbuttons button img {
    opacity: 25%;
    transition: opacity .2s ease-out;
}
.inputbuttons button img:hover {
    opacity: 1%;
}
